.cnButton {
  padding: 5px;
  background: #2196f3;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.cnButton:active {
  background: #1976d2;
}

.cnButton:disabled {
  background: #e3f2fd;
}
