.cnDetailedCardRoot {
  display: flex;
  flex-direction: column;
  width: 600px;
  border: 1px solid #dbdbdb;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.cnDetailedCardHeader {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  height: 60px;
  padding-left: 20px;
  background-color: #fff;
}

.cnDetailedCardImage {
  height: 300px;
  width: 100%;
}

.cnDetailedCardButtons {
  display: flex;
  padding: 10px;
}

.cnDetailedCardCounter {
  font-style: 14px;
  font-weight: 600;
  padding: 10px;
}

.cnDetailedCardComments {
  display: flex;
  flex-direction: column;
  padding: 0 10px 10px 10px;
}

.cnDetailedCardTextArea {
  box-sizing: border-box;
  border: none;
  background-color: #fff;
  padding: 10px;
  outline: none;
  resize: none;
  width: 80%;
}

.cnDetailedCardLikeIcon {
  margin-right: 10px;
  cursor: pointer;
}

.cnDetailedCardCommentIcon {
  cursor: pointer;
}

.cnDetailedCardCommentTitle {
  font-size: 14px;
  cursor: pointer;
  color: #dbdbdb;
}

.cnDetailedCardTextAreaWrapper {
  position: relative;
  background: #fff;
}

.cnDetailedCardSendButton {
  position: absolute;
  bottom: 5px;
  background: #2196f3;
  right: 5px;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 5px;
  cursor: pointer;
}

.cnDetailedCardSendButton:active {
  background: #1976d2;
}

.cnDetailedCardSendButton:disabled {
  background: #e3f2fd;
}