.cnUserPageRoot {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 50px; 
}

.cnUserPageRootContent {
  display: flex;
  flex-wrap: wrap;
  padding-top: 100px;
  padding-left: 10px;
  width: 930px;
}

.cnUserPageCard {
  margin-right: 10px;
  margin-bottom: 10px;
}

.cnUserPageScroll {
  display: flex;
  flex-wrap: wrap;
}

.cnUserPageNoPosts {
  text-align: center;
  font-weight: 600;
  font-size: 20px;
}

.cnMainLoaderContainer {
  display: flex;
  justify-content: center;
  align-items: center;
}